/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: auto;
  display: block;
  padding-top: 0;
  padding-bottom: 0;
}
/* Farver */
html {
  --backgroundColor: #e5d7bd;
  --primaryColor: #ff9b69;
  --secondaryColor: #ffb996;
  --fontColor: #135c57;
}

/* general css */
body {
  font-family: "Hedvig Letters Serif", serif;
  background-color: var(--backgroundColor);
}
main {
  min-height: 70vh;
}
h1 {
  margin: 2cqw 0;
  font-family: "satoshi";
  color: var(--fontColor);
  font-size: 5cqw;
  font-weight: 600;
}
h2 {
  margin: 1cqw 0;
  font-family: "satoshi";
  color: var(--fontColor);
  font-size: 3cqw;
  font-weight: 600;
}
.max_width {
  max-width: 1600px;
  margin: 0 auto;
}

/*Header*/
header {
  background-color: var(--primaryColor);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.logo img {
  width: 120px; /* Adjust as needed */
  height: auto;
  display: block;
  margin-left: 1rem;
}
nav a {
  color: white;
  text-decoration: none;
  margin-right: 30px;
}
/*Footer*/
.bottom-bar {
  background-color: #ff9b69;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.icons-container {
  display: flex;
  margin-left: auto; /* Pushes icons to the end */
}
.icons {
  max-width: 70px;
  margin-right: 1rem;
}

@media only screen and (min-width: 800px) {
}
