/* fonts */
@font-face {
  font-family: "satoshi";
  src: url("fonts/Satoshi-Variable.woff2") format("woff2"), url("../fonts/Satoshi-Variable.woff") format("woff"), url("../fonts/Satoshi-Variable.ttf") format("truetype");
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}

/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: auto;
  display: block;
  padding-top: 0;
  padding-bottom: 0;
}
/* Farver */
html {
  --backgroundColor: #fffcd9;
  --primaryColor: #a99f45;
  --secondaryColor: #e8e09d;
  --fontColor: #2a0000;
}

/* general css */
body {
  font-family: "Hedvig Letters Serif", serif;
  background-color: var(--backgroundColor);
}
main {
  min-height: 70vh;
}
h1 {
  margin: 2cqw 0;
  font-family: "satoshi";
  color: var(--fontColor);
  font-size: 5cqw;
  font-weight: 600;
}
h2 {
  margin: 1cqw 0;
  font-family: "satoshi";
  color: var(--fontColor);
  font-size: 3cqw;
  font-weight: 600;
}
.max_width {
  max-width: 1600px;
  margin: 0 auto;
}

/*Header*/
header {
  background-color: var(--primaryColor);
  color: white;
  display: flex;
  font-family: "satoshi";
  justify-content: space-between;
  font-weight: 600;
  font-size: 3cqw;
  align-items: center;
  padding: 10px;
}

nav a:hover {
  transform: scale(1.2);
}

header a img:hover {
  transform: scale(1.1);
}

.logo img {
  width: 120px; /* Adjust as needed */
  height: auto;
  display: block;
  margin-left: 1rem;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

nav {
  display: flex;
  gap: 30px;
}

nav a {
  color: var(--fontColor);
  text-decoration: none;
  margin-right: 30px;
  transition: 0.3s;
}

/* .logo img:hover {
  transform: scale(1);
} */

/*Footer*/
.bottom-bar {
  background-color: var(--primaryColor);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.icons-container {
  display: flex;
  margin-left: auto; /* Pushes icons to the end */
}
.icons {
  max-width: 70px;
  margin-right: 1rem;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.icons:hover {
  transform: scale(1.1);
}

select {
  font-family: "satoshi";
  color: var(--fontColor);
  background-color: var(--primaryColor);
  font-size: 1.2cqw;
  font-weight: 600;
  border-radius: 5px;
  margin-left: 20px;
  padding: 2px;
  box-shadow: 1px 1px 5px #071b27;
}

@media only screen and (min-width: 800px) {
  header {
    font-size: 1.2cqw;
  }
}
