ul,
ol {
  margin: 10px 0 50px 0;
}
li {
  margin: 20px 0;
}

a {
  color: #5e5e5e;
}
.info a {
  margin: 5px;
}

main img {
  aspect-ratio: 16/9;
  object-fit: cover;
}

.info {
  margin: 50px;
}

.flex {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.ingredientsAndInstructions {
  background-color: var(--secondaryColor);
  margin: 50px 0px;
  padding: 50px;
}

.otherDishesContainer {
  display: grid;
  gap: 10px;
}
.other_dishes h2 {
  margin: 20px;
}
/* recipe cards */
.recipe_card {
  display: grid;
  grid-row: span 5;
  margin: 20px;
  background-color: var(--secondaryColor);
  transition: background-color 0.3s ease, transform 0.3s ease;
  color: var(--fontColor);
}
.recipe_card:hover {
  transform: scale(1.1);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.recipe_card img {
  aspect-ratio: 16/9;
  object-fit: cover;
  height: auto;
}
.recipe_card .text {
  padding: 0px 10px;
  margin: 10px;
}

.recipe_card {
  text-decoration: none;
}
.light {
  color: #5e5e5e;
}

@media only screen and (min-width: 800px) {
  .info a,
  .info p {
    font-size: 1.5vw;
  }
  .grid_1-2 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  main img {
    aspect-ratio: 1/1;
    object-fit: cover;
  }

  .max_width {
    max-width: 1600px;
    margin: 0 auto;
    padding: 20px;
  }
  .otherDishesContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
  }
  .recipe_card img {
    aspect-ratio: 16/9;
    object-fit: cover;
    height: auto;
    max-width: 473px;
  }
  li {
    font-size: 1.5vw;
  }
}
